@{
    ViewData["Title"] = "Cat generator";
}

<h2>Reload the page for another random cat</h2>
<div class="container-sm">
    <img src="@Model.Url" class="img-fluid" alt="Image of a random cat">
</div>